.right {
  float: right;
}

.responsive-inputs {
  width: 300px;
  max-width: 330px;
  min-width: 250px;
}

.prueba-fondo{
  background-image: url("../assets/quasar-logo-full.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.input-border {
  background: #d3f1ff;
  border: 0px solid #bbbbbb;
  box-sizing: border-box;
  border-radius: 5px;
}

.input-border-new {
  background: #e1f5ff;
  border: 0px solid #bbbbbb;
  box-sizing: border-box;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.button-border {
  border-radius: 10px;
}
